.container {
  margin: 20px;
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
}

.image-container {
  flex: 1;
  min-width: 50px;
  max-width: 350px;
  margin-right: 20px;
}

.image-container img {
  width: 100%;
  height: auto;
  max-width: 300px;
}

.form-details {
  flex: 1;
  min-width: 300px;
  max-width: 400px;
}

.form-details h2 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
}

.form-details PaymentDetail {
  display: flex;
  flex-direction: column;
}

.form-details input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-details button {
  padding: 10px;
  background-color: maroon;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.form-details button:hover {
  background-color: darkred;
}

.quote {
  margin-top: 20px;
  text-align: left;
  max-width: 700px;
  width: 100%;
}

.quote p {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}

.quote .quote-symbol {
  font-size: 24px;
  color: black;
}

.author {
  font-size: 14px;
  color: #333;
  margin-top: 10px;
  text-align: right;
}
