.vision-container {
  display: "grid";
  grid-template-columns: "2fr 3fr";
  padding: "5%";
  padding-right: "10%";
  padding-left: "10%";
  gap: "20px";
  align-items: "center";
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  text-align: left;
}

.image-container {
  margin-bottom: 20px;
}

.vision-image {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.text-content {
  text-align: left;
}

.vision-title {
  color: #800000;
  font-size: 36px;
  margin: 0 0 20px 0;
}

.vision-subtitle {
  color: #800000;
  font-size: 28px;
  margin: 0 0 20px 0;
}

.vision-description {
  font-size: 18px;
  margin: 0 0 40px 0;
}
